 1.  Misc - General Stylings
 2.  Darker Top Bar - Very top bar with sing in link
 3.  Main Header Area - Containing navigation and logo
 4.  Main Navigation 
 5.  Homepage Slider - Containing featured plans and content slide
 6.  Plan Design - In slider and hosting page
 7.  Subheader - Not visible in demo, can be used on sub-pages.
 8.  Top Features - Icons with popover captions, as shown on second example slide
 9.  Domain Bar - Domain section on homepage, and the bar shown on sub-pages
 10. Main Content Stylings - Features section of homepage
 11. Testimonial Box Homepage - Green testimonial section on homepage
 12. Footer - Dark footer containing from the blog and newsletter signup.
 13. Blog - Stylings for the blog and single blog page
 14. Hosting Page - Blue background hosting page, includes plan comparison
 15. Options Bar - The bar on hosting page etc, which allows to swap between content in white area
 16. Colour Options For Content Blocks - Blue, Red, Green, Purple examples
 18. Support Page - Knowledgebase, contact etc
 19. Phone CSS - Stylings for phone only.
 20. Tablet CSS - Tablet only CSS.
 21. Offers Section - Circles which show % off.
 22. Hosting Types - Homepage, under features, difference between VPS etc.
 23. Clouds Separator - The cloud effect above and below the main white area on homepage.
 24. Help Box - Help box on the hosting page
 25. Triangle Separator - Triangle separator such as on the offers section or below the header on sub-pages.
 
 */
 
 /* Misc */
input[type="text"]:focus,select:focus{
	outline:none;
	box-shadow:none;
}
img{
	max-width:100%;
}
h2, h1, h3, h4{
	font-family: 'Open Sans', sans-serif;
	}
.wrapper{
	text-align:center;
	position:relative;
}
.container{
	margin:0 auto;
	text-align:left;
}
.dropdown-bottom:after{
	content:"\25BE";
	padding-left:5px;
	opacity:0.4;
}
.dropdown-right:after{
	content:"\25B8";
	position:absolute;
	right:7px;
	top:6px;
}
.btn-lg{
		font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
}
.btn-lg.no-margin-left, .btn-lg.no-margin-left:hover{
	margin-left:0;
	margin-top:15px;
}
.btn-blue, .btn-blue:hover{
	background:rgba(76,133,212,1);
	color:#fff;
	margin:0 15px;
	border-radius:3px;
}
.btn-red, .btn-red:hover{
	background:#be424a;
	color:#fff;
	margin:30px 15px;
	border-radius:3px;
}
.btn-green, .btn-green:hover{
	background:rgba(67,170,146,1);
	color:#fff;
	margin:30px 15px;
	border-radius:3px;
}
.btn-purple, .btn-purple:hover{
	background:#5a4473;
	color:#fff;
	margin:30px 15px;
	border-radius:3px;
}
.btn-blue:hover, .btn-green:hover{
	opacity:0.8
}
.padtop{
	padding-top:15px;
}
.lesspad{
	padding-top:0px !important;
	margin-top:30px !important;
}
.padtop30{
	padding-top:30px!important;
}
.padtop60{
	padding-top:60px!important;
}
.padbottom30{
	padding-bottom:30px!important;
}
.relative{
	position:relative;
}
/* Darker Top Bar */
#topbar{
	background:#18191b;
	border-bottom:1px solid #4a4d54;
	color:rgba(255,255,255,0.4);
	font-size:13px;
	height:29px;
}
body:not(#home) #topbar{
	display:none;
}
#topbar .container > ul{
	list-style:none;
	padding:0;
	margin:0;
}
#topbar .container > ul.toright{
	float:right;
}
#topbar .container > ul li{
	display:block;
	float:left;
	padding:5px 15px 5px 7px;
	position:relative;
}
#topbar .container > ul li:first-child{
	padding:5px 15px 5px 0px;
}
#topbar .container > ul li span{
	font-size:11px;
}
#topbar label{
	font-weight:normal;
}
#topbar select{
	background:rgba(255,255,255,0.1);
	border:1px solid rgba(0,0,0,0.2);
	outline:none;
}
#topbar select option{
	background:#565a5b;
	padding:7px;
	border-color:red !important;
}
#topbar a{
	color:rgba(255,255,255,0.4);
}
#topbar a:hover,#topbar a.visible{
	color:rgba(255,255,255,0.6);
	text-decoration:none;
}
#topbar .hiddenbox{
		position:absolute;
		top:34px;
		left:0;
		padding:15px;
		background:#52575b;
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		width:300px;
		pointer-events:none;
		opacity:0;
		z-index:999;
		color:rgba(255,255,255,0.8);
		-webkit-transition: all 0.5s;
    	transition: all 0.5s;
}
#topbar .hiddenbox.visible{
		pointer-events:auto;
		-webkit-transition: all 0.5s;
    	transition: all 0.5s;
		opacity:1;
}
#topbar a.dropdown-toggle:before{
		position:absolute;
		bottom:-6px;
		right:3px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 6px 8px 6px;
		border-color: transparent transparent #52575b transparent;
		content:"";
		opacity:0;
		z-index:1000;
		-webkit-transition: all 0.5s;
    	transition: all 0.5s;
}
#topbar a.dropdown-toggle.visible:before{
		opacity:1;
		-webkit-transition: all 0.5s;
    	transition: all 0.5s;
}
#signinbox div{
	padding:7px 0;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
#signinbox input[type="text"]{
	border:1px solid #333;
	border-radius:3px;
	padding:5px 7px;
	width:70%;
	color:rgba(0,0,0,0.8);
}
#signinbox label{
	font-family: 'Open Sans', sans-serif;
	width:30%;
	font-weight:normal;
}
#signinbox input[type="checkbox"] + label{
	padding-left:5px;
	line-height:12px;
}
#signinbox div:first-child{
	padding-top:0;
}
#signinbox div:last-child{
	border:none;
	text-align:center;
	padding-bottom:0;
}
#signinbox input[type="submit"]{
	margin:0 auto;
	background:#3c9983;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	border:none;
	padding:7px 15px;
}
#supportbox .livesupport{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding-bottom:7px;
	font-weight:bold;
}
#supportbox .livesupport a{
	color:rgba(255,255,255,0.9);
}
#supportbox .livesupport.offline{
	pointer-events:none;
}
#supportbox div:not(.livesupport){
	padding:7px 0 0 0;
}
#supportbox div:not(.livesupport) span{
	margin-right:7px;
	background:rgba(0,0,0,0.3);
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	padding:7px;
}
#supportbox div:not(.livesupport) a{
	display:block;
	color:rgba(255,255,255,0.8);
	font-size:13px;
}
#supportbox div a:hover{
	color:rgba(255,255,255,1);
}
#supportbox .livesupport img{
	padding-right:15px;
}
#supportbox .livesupport.offline img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
#supportbox .livesupport.offline:after{
	content:" (offline)";
}
/* Main Header Area */
#topcontent{
	background:rgba(46,49,52,1);
	padding:30px 0;
	position:relative;
	z-index:5;
}
#home #topcontent{
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}
#home #topcontent:before{
	position:absolute;
	background:url(images/patterns/blocks.png) repeat;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.4;
	z-index:-1;
}
.logo{
	float:left;
}
.logo a{
	display:block;
	background:url(images/logo.png) top left no-repeat;
	width:0;
	height:26px;
	padding-left:240px;
	overflow:hidden;
}
/* Main Navigation */
#header > ul{
	float:right;
	list-style:none;
	padding:0 0 0 30px;
	margin:0;
	position:relative;
	z-index:20;
}
#header > ul > li{
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	display:block;
	float:right;
	position:relative;
}
#header > ul > li > a{
	color:rgba(255,255,255,0.7);
	padding:5px 15px;
	margin-left:15px;
	border-radius:2px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	display:block;
}
#header > ul > li.active > a{
	color:rgba(255,255,255,1);
	background:rgba(255,255,255,0.2);
}
#header > ul > li > a:hover, #header > ul > li.hovered > a{
	color:rgba(255,255,255,1);
	background:rgba(255,255,255,0.05);
	text-decoration:none;
}
#header > ul > li.active > a:hover{
	color:rgba(255,255,255,1);
	background:rgba(255,255,255,0.3);
}
#header > ul > li  ul{
	z-index:999;
	opacity:0;
	pointer-events:none;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#header > ul > li > ul{
	color:rgba(255,255,255,1);
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
	top:100%;
	left:15px;
	width:170px;
	padding-top:15px;

}
#header > ul > li > ul.visible{
	display:block;
	opacity:1;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	pointer-events:auto;
}
#header > ul > li  ul  li{
	display:block;
	background:#52575b;
	position:relative;
}
#header > ul > li > ul > li:first-child a:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 6px 5px;
	border-color: transparent transparent #52575b transparent;
	content:"";
	position:absolute;
	top:-6px;
	left:15px;
}
#header > ul > li > ul > li:first-child:hover a:after{
	border-color: transparent transparent #62676a transparent;
}
#header > ul > li  ul  li:first-child, #header > ul > li  ul  li:first-child a{
	border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
}
#header > ul > li  ul  li:last-child, #header > ul > li  ul  li:last-child a, #header > ul > li  ul  li:last-child a:hover{
	border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	border:none;
}
#header > ul > li > ul  li  a{
	color:#fff;
	font-size:14px;
	text-transform:none;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:7px 15px;
	display:block;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
#header > ul > li  ul  li a:hover{
	background:#62676a;
	border-bottom:1px solid rgba(0,0,0,0.25);
	text-decoration:none;
}
#header > ul > li > ul  li  ul{
	color:rgba(255,255,255,1);
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
	top:0;
	left:100%;
	width:170px;
	padding-left:15px;
	pointer-events:none;
}
#header > ul > li > ul > li > ul.visible{
	opacity:1;
	pointer-events:auto;
}
#header > ul > li > ul > li > ul > li:first-child a:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 6px 5px 0px;
	border-color: transparent #52575b transparent transparent;
	content:"";
	position:absolute;
	top:15px;
	left:-6px;
}
#header > ul > li > ul > li > ul > li:first-child:hover a:after{
	border-color: transparent #62676a transparent transparent;
}
.phonemenu{
	display:none;
}
/* Homepage Slider */
#carousel-example-generic{
	clear:both;
	padding:60px 0 60px 0;
	position:relative;
}
.carousel-control.left,.carousel-control.right{
	background:none;
	width:auto;
	color:rgba(255,255,255,0.4);
}
@media (min-width:1200px){
	.carousel{
		margin:0 -15px 0 -15px !important;
	}
	.carousel-control.left{
	left:-30px!important;
	}
	.carousel-control.right{
		right:-30px !important;
	}
}
.carousel-control.left{
	left:0;
}
.carousel-control.right{
	right:0px;
}
.content-slide{
	margin-top:30px;
	padding:30px 30px;
	background:url(images/patterns/wet_snow.png) repeat;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	overflow:hidden;
	-webkit-box-shadow: inset 0px -3px 5px 0px rgba(5, 0, 0, 0.2);
-moz-box-shadow:    inset 0px -3px 5px 0px rgba(5, 0, 0, 0.2);
box-shadow:         inset 0px -3px 5px 0px rgba(5, 0, 0, 0.2);
}
.item .slide-main{
	text-align:left;
	color:rgba(0,0,0,0.7);
}
.item .slide-main p{
	padding:30px 0 0 0;
	margin:0;
}
.content-slide .col-sm-4{
	text-align:center;
}
.slide-title{
	font-size:40px;
	text-transform:uppercase;
	font-weight:bold;
	color:rgba(0,0,0,1);
	font-family: 'Open Sans', sans-serif;
}
.slide-title small{
	font-size:18px;
	display:block;
	text-transform:none;
	font-weight:normal;
	color:rgba(0,0,0,0.7);
	font-family: 'Open Sans', sans-serif;
}
.item{
	min-height:361px;
}
/* Plan Design (Homepage and Hosting Pages) */
.plan{
	margin-top:60px;
	background:rgba(0,0,0,0.7);
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	position:relative;
	padding-top:45px;
}
.plan.notfeatured{
	opacity:1;
}
.plan.featured{
	opacity:1;
}
.plan:hover,.plan.notfeatured .price, .plan.notfeatured li:last-child a, .plan .price, .plan li:last-child a, .compare-order li:not(:first-child) a,.compare-heading li span, .hosting-types .col-sm-4 .price,.hosting-types .col-sm-4.featured .price, .hosting-types .col-sm-4, .hosting-types .col-sm-4.featured, .hosting-types .col-sm-4.featured:after, .hosting-types .col-sm-4:after {
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
	opacity:1;
}
.plan.notfeatured .price, .plan.notfeatured li:last-child a{
	background:#595d5d !important;
}
.plan .price{
	display:block;
	position:absolute;
	top:-40px;
	left:50%;
	margin-left:-40px;
	border-radius:20px;
	background:rgba(76,133,212,1);
	font-size:30px;
	font-weight:bold;
	color:#fff;
	padding:19px 0;
	width:80px;
	height:80px;
	box-sizing:border-box;
	text-align:center;
}
.plan h3{
	margin:0;
	padding:0;
	font-size:30px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color:#fff;
	text-align:center;
	padding:10px 0 5px 0;
}
.plan small{
	display:block;
	color:rgba(255,255,255,0.8);
	font-size:16px;
	font-weight:normal;
	position:relative;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	overflow:hidden;
	padding-bottom:30px;
}
.plan small::after {
    content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 40px 0;
	border-color: transparent rgba(0,0,0,0.1) transparent transparent;
    position: absolute;
    top:0px;
	right:55px;

}
.plan small span{
	color:rgba(255,255,255,0.7);
	width:55px;
	padding-top:8px;
	display:block;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	background:rgba(0,0,0,0.1);
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.plan ul{
	list-style:none;
	padding:0;
	margin:0;
}
.plan ul li{
	display:block;
	background:#fff;
	padding:15px 30px;
	color:rgba(0,0,0,0.8);
	font-family: 'Open Sans', sans-serif;
}
.plan ul li:nth-child(even){
	background:#eee;
}
.plan ul li:last-child{
	text-align:center;
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	padding:0;
	background:none !important;
}
.plan ul li:last-child a{
	display:block;
	background:#4477be;
	color:rgba(255,255,255,0.9);
	font-size:18px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	padding:15px 15px;
	border-radius:0 0 50px 50px;
	-moz-border-radius:0 0 50px 50px;
	-webkit-border-radius:0 0 50px 50px;
	text-align:center;
}
.plan ul li:last-child a:hover{
	color:rgba(255,255,255,1);
	text-decoration:none;
	background:#4c85d4;
}
.plan ul li span{
	padding-right:7px;
}
.plan ul li:last-child a{
	background:#4477be;
}
.plan ul li:last-child a:hover{
	background:#4c85d4;
}
.plan.red ul li:last-child a, .plan.red .price{
	background:#ab3b42;
}
.plan.red ul li:last-child a:hover{
	background:#be424a;
}
.plan.purple ul li:last-child a, .plan.purple .price{
	background:#5a4473;
}
.plan.purple ul li:last-child a:hover{
	background:#644c80;
}
.plan.green ul li:last-child a, .plan.green .price{
	background:#3c9983;
}
.plan.green ul li:last-child a:hover{
	background:#43aa92;
}
/* Subheader (Example on Hosting.html - remove display:none to show */
#subheader{
	border-top:1px solid rgba(0,0,0,0.7);
	background:rgba(82,87,91,0.8);
	padding:30px 0;
	text-align:center;
	position:relative;
	display:none;
}
#subheader h1{
	color:rgba(255,255,255,1);
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
}
#subheader h1 i{
	padding-right:15px;
}
/* Top Features (Under Slide Homepage) */
.popover{
	color:rgba(255,255,255,0.8);
	background:#52575b;
}
.popover-title {
    background:rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.2);
	font-size:15px;
	text-transform:uppercase;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	color:rgba(255,255,255,1);
}
.popover.top>.arrow:after {
  border-top-color: #52575b !important;
}

#topfeatures{
	border:1px solid rgba(0,0,0,0.7);
	background:#222527;
	padding:30px 60px;
	text-align:center;
	position:relative;
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	margin:0;
}
#topfeatures:before, #subheader:before{
	position:absolute;
	background:url(images/patterns/tweed.png) repeat;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:1;
	z-index:-1;
}
#topfeatures .col-sm-2{
	padding:0 30px;
}
#topfeatures span{
	background:rgba(0,0,0,0.3);
	border-radius:200px;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	display:block;
	line-height:0;
	padding:25%;
	color:#fff;
	font-size:70px;
}
#topfeatures span img{
	-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#topfeatures .col-sm-2:hover span img{
	-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
filter: grayscale(0%);
-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#topfeatures h4{
	font-size:15px;
	text-transform:uppercase;
	margin:0;
	padding:0 0 15px 0;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	text-align:center;
}
#topfeatures h4 small{
	color:rgba(255,255,255,0.7);
	display:block;
	font-size:13px;
	text-transform:none;
	padding-top:5px;
}
/* Domain Bar (Homepage) */
#domainbar{
	background:#18191b;
	padding:30px 0 30px 0;
	position:relative;
	z-index:50;
	box-shadow:0 0 5px 5px rgba(0,0,0, 0.1);
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
#domainbar:before{
	position:absolute;
	background:;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:1;
	z-index:-1;
}
.domainsearch{
	overflow:hidden;
}
.searchbar{
	background:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	float:left;
	width:75%;
	position:relative;
}
.searchbar input[type="text"]{
	padding:7px 15px;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	border:none;
	width:95%;
	font-weight:normal;
}
.searchbar select{
	font-family: 'Open Sans', sans-serif;
	position:absolute;
	padding-left:7px;
	padding-right:0px;
	top:0;
	right:0;
	height:100%;
	border:none;
	border-left:1px solid #ccc;
	font-size:16px;
	font-weight:bold;
	border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
}
.domainsearch input[type="submit"]{
	float:right;
	background:rgba(255,255,255,0.1);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	border:none;
	padding:7px 15px;
	width:20%;
	box-sizing:border-box;
	line-height:22px;
}
.domain-toggles{
	color:#fff;
	font-size:16px;
	padding:20px 15px;
}
.domain-toggles a{
	color:rgba(255,255,255,0.8);
	text-decoration:none;
}
.domain-toggles a:hover, .domain-toggles a.visible{
	color:rgba(255,255,255,1);
	text-decoration:none;
}
.domain-offers{
	padding:11px 15px;
	text-align:right;
}
.domain-offers .offer{
	position:relative;
	float:right;
}
.domain-offers .offer + .offer{
	margin-right:85px;
}
.domain-offers .offer span{
	float:left;
	background:#be424a;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	display:block;
	width:50px;
	text-align:center;
	padding:5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-wenkit-border-radius:3px;
	position:absolute;
	top:-5px;
	margin-right:15px;
	right:100%;
}
.domain-offers .offer span:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 6px;
	border-color: transparent transparent transparent #be424a;
	content:"";
	position:absolute;
	right:-6px;
	top:50%;
	margin-top:-5px;
}
.domain-offers .offer img{
	padding:7px;
	background:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-wenkit-border-radius:3px;
}
#domainprices, #domainbulk{
	max-height:0;
	overflow:hidden;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
#domainprices.visible,#domainbulk.visible{
	max-height:1000px;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
	padding-top:60px !important;
}
#domainprices .row{
	margin:0;
}
#domainprices ul{
	background:#fff;
	list-style:none;
	padding:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#domainprices ul li ul li{
	padding:15px 15px;
}
#domainprices ul li ul li:last-child span{
	background:#2e3134;
	padding:3px;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	color:#fff;
	font-size:12px;
}
#domainprices > ul > li:nth-child(even){
	background:#f7f7f7;
}
#domainprices .container > ul > li:first-child{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
#domainbulk textarea{
	width:100%;
	background:#fff;
	border:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:15px;
	box-sizing:border-box;
	resize: vertical;
	height:250px;
}
#domainbulk input[type="submit"]{
	background:#3c9983;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	border:none;
	padding:7px 15px;
}
#domainbulk p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	padding:0 0 7px 0;
	margin:0;
}
#domainbulk p label{
	padding-left:15px;
}
#domainbulk .row .row{
	padding:15px 0;
}
#domainbulk .btn-primary{
	background:rgba(0,0,0,0.3);
	border:none;
		font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	box-shadow:none;
}
#domainbulk .btn-primary:first-child{
	border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
}
#domainbulk .btn-primary:last-child{
	border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
}
#domainbulk .btn-primary:hover{
	opacity:0.9
}
#domainbulk .btn-primary.active{
	background:rgba(0,0,0,0.7);
}
.extensionslist > div{
	display:none;
}
.extensionslist.shown  > div{
	display:block;
}
#domainbulk .col-sm-4 .btn-primary{
	background:none;
	border:none;
	color:rgba(0,0,0,0.8)
}
#domainbulk .col-sm-4 .btn-primary span{

}
#domainbulk .col-sm-4 .btn-primary.active span:before{
	content:"\e013";
}
/* Main Content Stylings */
#maincontent{
	padding:60px 0;
}
.content-heading{
	text-align:center;
}
.content-heading h2{
	font-family: 'Open Sans', sans-serif;
	font-size:40px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0;
	color:rgba(0,0,0,0.8);
}
.content-heading small{
	font-size:24px;
	margin:0;
	color:rgba(0,0,0,0.6);
}
.content-heading span{
	display:block;
	margin:15px auto;
	width:20%;
	height:1px;
	background:rgba(0,0,0,0.2);
}
.mainfeatures{
	padding-top:30px;
}
.mainfeatures span:not(.divider){
	font-size:64px;
	color:rgba(0,0,0,0.4);
	margin-top:-15px;
	padding-top:50%;
}
.mainfeatures .col-sm-6, .maintestimonials .col-sm-6{
	padding-top:45px;
}
.mainfeatures .col-sm-6:nth-child(odd), .maintestimonials .col-sm-6:nth-child(odd){
	clear:both;
}
.mainfeatures h3, .maintestimonials h3{
	font-size:24px;
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	font-weight:bold;
	color:rgba(0,0,0,0.8);
	margin:0 0 15px 0;
}
.mainfeatures p{
	color:rgba(0,0,0,0.6)
}
#domainmain{
	padding-bottom:120px;
	padding-top:85px !important;
}
/* Testimonial Box Homepage */
#testimonials{
	background:#1c9679 url(images/green-pattern.jpg) repeat-x bottom;
	padding:120px 0 60px 0;
	position:relative;
	z-index:1;
	border-top:1px solid rgba(0,0,0,0.1);
}
#testimonials:before{
	position:absolute;
	background:url(images/patterns/pentagon.png) repeat;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:1;
	z-index:-1;
	pointer-events:none;
	opacity:0.4
}
.maintestimonials img{
	border:5px solid rgba(0,0,0,0.1);
	border-radius:500px;
	-moz-border-radius:500px;
	-webkit-border-radius:500px;
}
.maintestimonials p, .maintestimonials h3{
	color:#fff;
}
.maintestimonials .col-sm-8:nth-child(odd){
	text-align:right;
}
.maintestimonials p{
	margin-bottom:5px;
}
.maintestimonials small{
	color:rgba(255,255,255,0.7);
}
#testimonials .viewmore{
	text-align:center;
	padding-top:45px;
	clear:both;
}
#testimonials .viewmore a{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	text-transform:uppercase;
	padding:7px 15px;
	background:rgba(0,0,0,0.3);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:-inline-block;
	color:#fff;
	font-weight:bold;
}
#testimonials .viewmore a:hover{
	opacity:0.9;
	text-decoration:none;
}
/* Footer */
#footer{
	background:rgba(46,49,52,1);
	padding:60px 0;
	position:relative;
	z-index:1;
}

.footerlogo{
	background:url(images/logo.png) top left no-repeat;
	padding-left:240px;
	height:26px;
	overflow:hidden;
	width:0;
	margin-bottom:20px;
}
#footer p{
	color:rgba(255,255,255,0.6);
}
.fulldivider{
	display:block;
	height:1px;
	background:rgba(255,255,255,0.1);
	margin:30px 0;
}
#footer h4{
	color:rgba(255,255,255,0.8);
	margin:0;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
.newsletter{
	margin-top:30px;
	position:Relative;
}
.newsletter input[type="text"]{
	padding:7px 15px;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	border:none;
	width:95%;
	font-weight:normal;
}
.newsletter input[type="submit"]{
	position:absolute;
	top:0;
	right:0;
	background:#be424a;
	border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	border:none;
	padding:7px 15px;
	line-height:22px;
	height:100%;
}
.footer-social{
	list-style:none;
	padding:30px 0 30px 0;
	margin:0;
	overflow:hidden;
}
.footer-social a:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.footer-social a{
	color:rgba(255,255,255,0.8);
	font-size:24px;
	padding:15px;
	border:5px solid rgba(255,255,255,0.8);
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	display:block;
	float:left;
	line-height:0;
	text-align:center;
	min-width:64px;
	margin-right:15px;
}
.footer-social li:last-child a{
	margin:0;
}
.footer-links ul{
	list-style:none;
	padding:0;
	margin:0;
}
.footer-links ul + ul{
	padding-top:30px;
}
.footer-links ul li:first-child{
	font-size:16px;
	color:#fff;
	padding:0 0 7px 0;
}
.footer-links ul li{
	padding:1px 0;
}
#footer a, #bottombar a{
	color:rgba(255,255,255,0.7);
}
#footer a:hover, #bottombar a:hover{
	color:rgba(255,255,255,1);
	text-decoration:none;
}
.footerheading{
	background:rgba(255,255,255,0.2);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	font-size:15px;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	padding:7px 15px;
	clear:both;
}
#footer .featured-post{
	padding:30px 0;
	overflow:hidden;
}
#footer .featured-post img{
	border:5px solid rgba(0,0,0,0.1);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
	
#footer .featured-post h5{
	font-size:16px;
	color:rgba(255,255,255,0.9);
	font-weight:normal;
	margin:5px 0 0 0;
	padding-bottom:15px;
}
#footer .other-posts >div{
	border-top:1px solid rgba(255,255,255,0.1);
	padding-top:30px;
}
#footer .other-posts img{
	border:3px solid rgba(0,0,0,0.1);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#bottombar{
	background:#18191b;
	border-top:1px solid #4a4d54;
	color:rgba(255,255,255,0.4);
	font-size:13px;
	padding:7px 0;
}
#bottombar .col-xs-3{
	text-align:right;
}
/* Blog */
#blog{
	background:rgba(190,66,74,1) url(images/red-pattern.jpg) repeat-x bottom;
	padding:60px 0;
	position:relative;
	border-top:1px solid rgba(0,0,0,0.6);
	z-index:2;
}
#blog:before{
	position:absolute;
	background:url(images/patterns/pentagon-red.png) repeat;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.4;
	z-index:-1;
}
#relatedblog{
	background:rgba(67,170,146,0.8) url(images/green-pattern.jpg) repeat-x bottom;
	padding:60px 0;
	position:relative;
	border-top:1px solid rgba(0,0,0,0.4)
}
#relatedblog:before{
	position:absolute;
	background:url(images/patterns/pentagon.png) repeat;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:1;
	z-index:-1;
}
#blog .content-heading h2,.content-heading.white h2{
	color:rgba(255,255,255,1);
}
#blog .content-heading small,.content-heading.white small{
	color:rgba(255,255,255,0.7);
}
#blog .content-heading span, .content-heading.white span{
	background:rgba(255,255,255,0.2);
}
.featuredposts .post{
	background:rgba(255,255,255,1);
	padding:30px 0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-align:center;
	margin:30px 0;
	position:relative;
	border-bottom:3px solid rgba(190,66,74,1);
}
.green-content .featuredposts .post{
	border-bottom:3px solid rgba(67,170,146,1)
}
.purple-content .featuredposts .post{
	border-bottom:3px solid rgba(100,76,128,1)
}
.blue-content .featuredposts .post{
	border-bottom:3px solid rgba(76,133,212,1)
}
#relatedblog .featuredposts .post{
	border-bottom:3px solid rgba(67,170,146,1);
}
.post:hover{
	opacity:0.9;
}
.featuredposts .post p{
	padding-left:30px;
	padding-right:15px;
}
.post > a{
	position:absolute;
	padding-left:100%;
	height:100%;
	width:0;
	overflow:hidden;
	top:0;
	left:0;
	z-index:999;
}
.post small{
	color:rgba(0,0,0,0.6);
}
.post-image, .testimonial-image{
	padding:30px 0px;
	margin:0;
	width:100%;
	position:relative;
}
#clientbox .post-image{
	padding-top:0;
}
.testimonial-image{
	text-align:center;
}
.testimonial-image{
	padding-bottom:15px;
}
.testimonial-image img{
	width:60%;
	border-radius:200px;
	-moz-border-radius:px;
	-webkit-border-radius:px;
	border:5px solid rgba(0,0,0,0.2);
}
.post-image span{
	display:inline-block;
	position:absolute;
	top:30px;
	right:0;
	background:rgba(0,0,0,0.8);
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	padding:5px 15px;
}
.post-image span i{
	padding-right:7px;
}
.featuredposts h2{
	font-size:24px;
	font-family: 'Open Sans', sans-serif;
	display:block;
	text-align:center;
	font-weight:bold;
	color:rgba(0,0,0,0.8);
	padding:0px 30px 15px 30px;
	margin:0;
}
.nonfeaturedposts .post{
	text-align:center;
	position:relative;
	margin:60px 0 60px 0;
}
.nonfeaturedposts h3{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	display:block;
	text-align:center;
	font-weight:bold;
	color:rgba(0,0,0,0.8);
	padding:0px 30px 15px 30px;
	margin:0;
	
}
.nonfeaturedposts .post small{
	display:block;
	text-align:center;
}
.morelinks{
	text-align:center;
	clear:both;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}
.pagination>.active>a{
	background:#4c85d4;
}
.pagination a{
	color:#4c85d4;
}
@media (max-width:767px){
	.nonfeaturedposts [class*="col"]:nth-child(2n+1){
		clear:both;
	}
	.nonfeaturedposts [class*="col"]:nth-child(2n+1):after{
		content:"";
		display:block;
		border-bottom:1px solid #eee;
		margin:30px 0;
		height: 0;
    	width:400%;
		padding:30px 50px 0 50px;
		box-sizing:content-box;
	}
}
@media (min-width:768px){
	.nonfeaturedposts [class*="col"]:nth-child(4n+1){
		clear:both;
	}
	.nonfeaturedposts [class*="col"]:nth-child(4n+1):after{
		content:"";
		display:block;
		border-bottom:1px solid #eee;
		margin:0;
		height: 0;
    	width:400%;
		padding:0 50px 0 50px;
		box-sizing:content-box;
	}
}
.post-details{
	padding-top:15px;
	color:rgba(255,255,255,0.8);
}
.post-details a{
	color:rgba(255,255,255,0.9);
}
.post-details a:hover{
	color:rgba(255,255,255,1);
	text-decoration:none;
}
.post-details i{
	padding-right:7px;
}
.post-details .col-sm-3{
	padding-top:15px;
}
.post-details .col-sm-3:first-child{
	padding-top:7px;
}
.post-details .col-sm-3:first-child a{
	font-size:18px;
	display:inline-block;
	background:rgba(0,0,0,0.2);
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	padding:7px;
	text-align:center;
	min-width:39px;
	margin-right:7px;
}
.post-details .col-sm-3:first-child a:hover{
	background:rgba(0,0,0,0.4);
}
.post-details .col-sm-3:first-child a i{
	padding:0;
}
#single-post{
	padding:60px 0;
	background:#eee;
}
#single-post .col-sm-9 .the-post{
	padding:30px;
	background:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.col-sm-9 h2:first-child{
	margin-top:0;
}
.widget h4, .the-author h4{
	margin:0;
	padding:0 0 30px 0;
	font-weight:bold;
	text-transform:uppercase;
}
.widget{
	background:#fff;
	padding:30px;
	border-radius:3px;
	margin-bottom:30px;
	border-bottom:1px solid rgba(0,0,0,0.2);
	border-top:2px solid rgba(76,133,212,1);
}
.widget.green{
	border-top:2px solid rgba(67,170,146,1);
}
.widget.red{
	border-top:2px solid rgba(190,66,74,1);
}
.widget.purple{
	border-top:2px solid #644c80;
}
#single-post h2, #single-post h3, #single-post h4, #single-post h5{
	font-family: 'Open Sans', sans-serif;
}
.widget input[type="text"], .widget textarea{
	width:100%;
	box-sizing:border-box;
	border:1px solid #ddd;
	border-radius:3px;
	padding:5px;
}
.margin-top{
	margin-top:15px;
}
.widget ul{
	list-style:none;
	padding:0;
	margin:0;
}
.widget ul.tags-widget li{
	display:inline-block;
	padding-bottom:5px;
}
.widget ul.tags-widget li a{
	display:inline-block;
	margin-right:15px;
	border:none;
	padding:0;
}
.widget h4 i{
	padding-right:7px;
	font-size:14px;
}
.widget ul li a{
	display:block;
	padding:7px 0px;
	border-bottom:1px solid #eee;
}
input[type="submit"].btn-blue, input[type="submit"].btn-green, input[type="submit"].btn-red{
	border:none;
	padding:7px 15px;
	margin:15px 0 0 0;
}
.the-author h4{
	padding:0 0 15px 0;
}
.the-author{
	border-top:1px solid #eee;
	padding-top:30px;
	margin-top:30px;
}
.the-author img{
	border-radius:150px;
}
.comments-section{
	padding:30px 0
}
.comments-list{
	padding:0;
	margin:0;
	list-style:none;
	counter-reset: my-comments-counter;
}
.comments-list > li{
	padding:30px 0 30px 0;
	border-bottom:1px solid #eee;
	counter-increment: my-comments-counter;
	position:relative;
}
.comments-list > li:before{
	content: counter(my-comments-counter);
	position:absolute;
	top:30px;
	right:100%;
	padding-right:30px;
	font-size:48px;
	color:rgba(0,0,0,0.1);
}
.comments-list li:last-child{
	padding-bottom:0;
	border-bottom:none;
}
/* Hosting Page */
#featuredplans{
	background:#286bbf;
	padding:60px 0;
	position:relative;
	border-top:1px solid rgba(0,0,0,0.7);
	z-index:1;
}
#featuredplans:before{
	position:absolute;
	background:url(images/patterns/pentagon-blue.png) repeat;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.4;
	z-index:-1;
}
#featuredplans .row{
	margin-top:60px;
	margin-bottom:30px;
}
#featuredplans .plan.notfeatured{
	opacity:0.8;
}
/* Options Bar */
#optionbar{
	padding:0 0 0 0;
	border-top:1px solid rgba(0,0,0,0.2);
	background:rgba(76,133,212,1);
	text-align:center;
	position:relative;
}
#optionbar ul{
	padding:0;
	margin:0;
	list-style:none;
	display:block;
	text-align:center;
}
#optionbar ul li{
	display:inline-block;
	position:relative;
}
#optionbar ul li:last-child a{
	border-right:1px solid rgba(0,0,0,0.1)
}
#optionbar ul li a{
	display:block;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color:rgba(255,255,255,1);
	text-transform:uppercase;
	padding:30px 30px;
	border-left:1px solid rgba(0,0,0,0.1);
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#optionbar ul li i{
	padding-right:7px;
}
#optionbar ul li a:hover{
	background:rgba(255,255,255,0.1);
	text-decoration:none;
	border-color:rgba(0,0,0,0.2)
}
#optionbar ul li.active a{
	background:rgba(0,0,0,0.1);
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	
}
#optionbar ul li.active:after{
		position:absolute;
		bottom:0px;
		right:50%;
		margin-right:-5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 6px 8px 6px;
		border-color: transparent transparent #fff transparent;
		content:"";
		z-index:1000;
}
#hostingfeatures{
	margin-top:-60px;
}
#hostingcompare ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
	font-size:16px;
}
#hostingcompare > ul{
	padding-bottom:60px;
	padding-top:45px;
}
.compare-order li:first-child{
	background:none;
}
#hostingcompare .row-fluid li{
	border-left:1px solid rgba(0,0,0,0.1)
}
#hostingcompare .row-fluid li:last-child{
	border-right:1px solid rgba(0,0,0,0.1)
}
.compare-heading{
	background:rgba(46,49,52,1);
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
}
.compare-heading li:not(:first-child) {
	font-size:24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	text-align:center;
	padding:15px;
	color:#fff;
	background:rgba(46,49,52,1);
	padding-bottom:45px;
}
.compare-heading li:nth-child(2) {
	border-radius:3px 0 0 0;
}
.compare-heading li:last-child{
	border-radius:0 3px 0 0;
}
.compare-heading span{
	width:60px;
	height:47px;
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	background:rgba(76,133,212,1);
	display:block;
	box-sizing:content-box;
	padding:13px 0 0 0;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	position:absolute;
	bottom:-35px;
	left:50%;
	margin-left:-35px;
	border:10px solid rgba(46,49,52,1);
}
.compare-heading li:not(.featured) span, .compare-order li:not(.featured) a{
	background:#595d5d !important;
}
.compare-heading li.green span{
	background:#43aa92;
}
.compare-heading li.blue span{
	background:#4c85d4;
}
.compare-heading li.red span{
	background:#be424a;
}
.compare-heading li.purple span{
	background:#644c80;
}
.compare-separator{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	padding:15px 30px;
	background:#ccc;
	text-transform:uppercase;
	font-weight:bold;
	min-height:51px;
}
.row-fluid ul:after{
	clear:both;
	content:"";
	display:block;
}
.compare-data li{
	padding:15px;
}
.compare-data li.featured{
	font-weight:bold;
}
.compare-data:nth-child(odd) li{
	background:#eee;
}
.compare-data li:first-child{
	font-weight:bold;
	text-align:left;
}
.compare-data li span{
	float:right;
	cursor:pointer;
	font-size:18px
}
.compare-order{
	background:rgba(46,49,52,1);
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
.compare-order li:not(:first-child){
	background:rgba(46,49,52,1);
	padding:0;
	position:relative;
	height:45px;
}
.compare-order li:not(:first-child) a{
	margin:0;
	position:absolute;
	width:120px;
	height:41px;
	box-sizing:border-box;
	top:-20px;
	left:50%;
	margin-left:-60px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px ;
	opacity:1 !important;
	box-shadow:0 0 0 12px rgba(46,49,52,1);
	color:#fff !important;
	z-index:99;
}
.compare-order li:nth-child(2){
	border:none!important;
}
.compare-order li:nth-child(2){
	border-radius:0 0 0 3px;
	-moz-border-radius:0 0 0 3px;
	-webkit-border-radius:0 0 0 3px;
}
.compare-order li:last-child{
	border-radius:0 0 3px 0;
	-moz-border-radius:0 0 3px 0;
	-webkit-border-radius:0 0 3px 0;
}
.dropdown-box{
	max-height:0;
	overflow:hidden;
	opacity:0;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.dropdown-box.active{
	opacity:1;
	max-height:1500px;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
/* Colour Options For Content Blocks */
.red-content, #featuredplans.red-content, .blue-content, .green-content, .purple-content{
	background:rgba(190,66,74,1);
	padding:60px 0;
	position:relative;
	border-top:1px solid rgba(0,0,0,0.6);
	z-index:1;
}
.red-content:before,#featuredplans.red-content:before, .blue-content:before, .green-content:before, .purple-content:before{
	position:absolute;
	background:url(images/patterns/pentagon-red.png) repeat;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.4;
	point-event:none;
	z-index:-1;
}
#featuredplans.cloud:before{
	background:url(images/backgrounds/cloud.jpg) repeat;
}
.blue-content, #featuredplans.blue-content{
	background:#286bbf;
	border-top:1px solid rgba(0,0,0,0.6);
	border-bottom:1px solid rgba(0,0,0,0.3)
}
.blue-content:before, #featuredplans.blue-content:before{
	background:url(images/patterns/pentagon-blue.png) repeat;
	opacity:0.4;
}
.green-content, #featuredplans.green-content{
	background:#1c9679;
	border-top:1px solid rgba(0,0,0,0.6)
}
.green-content:before, #featuredplans.green-content:before{
	background:url(images/patterns/pentagon.png) repeat;
	opacity:0.4;
}
.purple-content, #featuredplans.purple-content{
	background:#614087;
	border-top:1px solid rgba(0,0,0,0.6)
}
.purple-content:before, #featuredplans.purple-content:before{
	background:url(images/patterns/pentagon-purple.png) repeat;
	opacity:0.4;
}
#optionbar.green{
	background:rgba(67,170,146,1);
}
#optionbar.red{
	background:rgba(190,66,74,1);
}
#optionbar.purple{
	background:rgba(100,76,128,1);
}
/* Support Page */
.search-wiki{
	padding:0 20%;
	position:relative;
	margin-top:30px
}
.search-wiki input[type="text"]{
	width:99%;
	font-size:18px;
	padding:7px 15px;
	border:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-family: 'Open Sans', sans-serif;
}
.search-wiki input[type="submit"]{
	position:absolute;
	top:0;
	right:20%;
	background:#be424a;
	border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	border:none;
	padding:7px 15px;
	line-height:22px;
	height:100%;
}
#knowledgebase > .row:first-child{
	border-bottom:1px solid #ddd;
	padding-bottom:30px;
	text-align:center;
	margin-bottom:30px;
}
#knowledgebase h3 a{
	font-weight:bold;
	text-decoration:none;
}
#knowledgebase h3 span{
	color:rgba(0,0,0,0.4);
	font-weight:normal;
}
#knowledgebase h3 i{
	font-weight:normal;
	background:rgba(0,0,0,0.4);
	padding:10px;
	border-radius:100px;
	color:#fff;
	margin-right:5px;
}
#knowledgebase h4 i{
	font-weight:normal;
	color:rgba(0,0,0,0.4);
	padding-right:7px;
}
#knowledgebase .post{
	padding:15px 0;
}
#knowledgebase .article a{
	color:rgba(0,0,0,1);
	text-decoration:none
}
#contactbox .row,#contactbox .row-fluid{
	padding-bottom:15px;
}
#contactbox input[type="text"], #contactbox textarea{
	width:100%;
	padding:7px;
	border:1px solid #ccc;
	border-radius:3px;
}
#contactbox textarea{
	height:150px;
	resize:vertical;
}
#contactbox h3:first-child{
	margin-top:0;
}
#contactbox .content-heading, #faqbox .content-heading{
	padding-bottom:30px;
}
 #knowledgebase .content-heading{
	 padding-bottom:15px;
 }
#contactbox h3 i{
	padding-right:7px;
	color:rgba(0,0,0,0.4)
}
#faqbox h3{
	font-weight:normal;
	margin:0;
}
#faqbox a{
	text-decoration:none;
}
#faqbox ul{
	padding:0;
	margin:0;
	list-style:none;
}
#faqbox ul li{
	border-bottom:1px solid #eee;
	padding:30px 0;
}
#faqbox ul li:first-child{
	padding-top:0;
}
#faqbox  ul li p:first-child{
	padding-top:15px
}
#faqbox i{
	color:rgba(0,0,0,0.4);
	margin-right:5px;
	font-size:28px;
}
#faqbox .answer{
	max-height:0;
	overflow:hidden;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#faqbox .answer.active{
	max-height:200px;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.dropdown-box{
	position:relative;
}
.suboptions{
	position:absolute;
	left:0;
	top:30px;
}
/* Phone CSS */
@media only screen and (max-width:480px){
	#offers .col-sm-3{
		padding-bottom:30px
	}
	.domain-links a{
		margin-bottom:15px !important
	}
	.hosting-types .col-sm-4:after{
		display:none !important;
	}
	.suboptions{
		position:relative !important;
		padding-bottom:30px;
		top:0;
	}
	.compare-data li:first-child{
		background:rgba(46,49,52,1);
		color:#fff;
	}
	.search-wiki{
		padding: 0 !important;
	}
	.search-wiki input[type="submit"]{
		right:0 !important;
	}
	.col-sm-4{
		margin-top:30px;
	}
	#hostingcompare ul, .compare-heading li, .compare-prices li, #hostingcompare .btn-lg{
		font-size:11px!important;
		word-wrap: break-word !important
	}
	#hostingcompare .compare-order .btn-lg{
		font-size:11px!important;
		word-wrap: break-word !important;
		background:none !important;
		color:#222 !important;
		padding:0 !important;
		margin:0 !important;
		float:none !important;
		display:inline !important;
		width:auto !important;
	}
	#hostingcompare .col-xs-2{
		width:20% !important;
	}
	#hostingcompare ul, .compare-heading li, .compare-prices li, #hostingcompare .btn-lg{
		font-size:11px!important;
		word-wrap: break-word !important
	}
	#optionbar ul li{
		display:block !important;
	}
	#optionbar ul li a{
		border:none !important;
	}
	#optionbar ul li:after{
		display:none !important;
	}
      #topbar .hiddenbox{
		position:fixed;
		top:34px;
		left:0;
		padding:15px;
		width:100%;
		box-sizing:border-box;
	}
	.domainsearch{
		text-align:center !important;
	}
	.searchbar{
		float:none !important;
		width:100% !important;
		text-align:left !important;
	}
	.domainsearch input[type="submit"]{
		clear:both;
		display:inline-block !important;
		width:auto !important;
		padding:7px 15px !important;
		float:none !important;
		margin-top:7px !important;
	}
	.plan.notfeatured .price{
		display:none;
	}
	.plan.notfeatured{
		max-height:50px;
		overflow:hidden;
		padding-top:0;
		margin-top:15px;
	}
	.plan h3{
		cursor:pointer;
 	}
 	.xs-pad-below{
		padding-bottom:30px;
	}
}
/* Tablet CSS */
@media all and (max-width: 992px) {
.mainfeatures span {
font-size: 32px !important
}
	.col-sm-6:nth-child(3),.col-sm-6:nth-child(4){
		padding-top:30px !important;
	}
}
@media all and (max-width: 768px) {
	.compare-heading li span{
		border:none;
		position:relative;
		margin-top:15px;
		width:auto!important;
		height:auto!important;
		border-radius:0;
		display:block;
		padding:7px 0!important;
		box-sizing:border-box;
		text-align:center;
		left:auto;
		margin-left:0;
	}
	#hostingcompare .compare-order a{
		position:relative;
		box-shadow:none !important;
		left:0;
		margin-left:0;
	}
	.post-sidebar{
		margin-top:30px
	}
	.phonemenu{
		display:block;
		position:absolute;
		right:15px;
		top:30px;
		background:rgba(0,0,0,0.2);
		color:rgba(255,255,255,0.5);
		padding:5px 15px;
		cursor:pointer;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}
	#header ul{
		width:100% !important;
		padding:0 !important;
		margin:0 !important;
	}
	#header > ul{
		background:rgba(0,0,0,0.1);
		margin:15px 0 0 0 !important;
		max-height:0;
		overflow:hidden;
		-webkit-transition: all 0.5s;
    	transition: all 0.5s;
	}
	#header > ul.shown{
		max-height:500px;
		-webkit-transition: all 0.5s;
   		 transition: all 0.5s;
	}
	#header ul li,#header ul li a{
		display:block !important;
		float:none !important;
		margin:0 !important;
		padding:0 !important;
	}
	#header ul li a{
		padding:7px 15px !important;
	}
	#header ul li ul{
		float:none !important;
		top:0 !important;
		left:0 !important;
		margin:0 !important;
		padding:0 !important;
		position:relative !important;
		max-height:0 !important;
	}
	#header > ul > li > ul > li > ul > li:first-child a:after{
		display:none !important;
	}
	#header ul li ul li ul li a{
		background: rgba(0,0,0,0.5) !important;
	}
	#header ul li ul.visible{
		float:none !important;
		top:0 !important;
		left:0 !important;
		margin:0 !important;
		padding:0 !important;
		position:relative !important;
		max-height:500px !important;;
	}
	#header ul li{
		display:block;
		width:100%;
		box-sizing:border-box;
	}
	.footer-links{
		padding:30px 15px;
		overflow:hidden;
	}
	.footer-links ul{
		float:left;
		width:50%;
		margin:0 !important;
		padding-top:0 !important;
	}
	.footer-social a{
		min-width:56px !important;
		padding:10px !important;
	}
	.featured-post .col-sm-8{
		padding:7px 20px;
	}
	.mainfeatures .row{
		padding:0 !important;
	}
	.mainfeatures .col-sm-2 span{
		padding:30px 0 0 0 !important;
	}
	.mainfeatures .col-sm-6{
		padding:15px !important;
		text-align:center !important;
	}
	.maintestimonials img{
		margin:15px 0 !important;
	}
	#topfeatures .col-xs-4{
		padding:7px 15px!important;
	}
	.col-sm-6:nth-child(3),.col-sm-6:nth-child(4){
		padding-top:0px !important;
	}
}
@media (max-width: 1200px){
	.container{
		width:100% !important;
	}
}
/* Offers Section */
#offers{
background: #18191b;
border-top: 1px solid rgba(255,255,255,0.2);
color: rgba(255,255,255,0.8);
padding:30px 0;
position:relative;
box-shadow:0 0 5px 5px rgba(0,0,0, 0.1);
}
#offers h3{
	padding:0;
	margin:0;
}
#offers small{
	color: rgba(255,255,255,0.6);
	font-size:14px;
	padding-bottom:15px;
	padding-top:5px;
	display:block;
}
#offers .col-sm-3{
	text-align:center;
}
.domain-links{
	text-align:center;
	padding-top:30px;
	color:rgba(255,255,255,0.2) !important
}.domain-links a{
	color:rgba(255,255,255,1) !important
}
/* Hosting Types */
.hosting-types {
	margin:110px 0 20px 0;
	background:rgba(0,0,0,0.1);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#hostingtypeshold{
	background:#1c9679 url(images/green-pattern.jpg) repeat-x bottom;
}
#hostingtypeshold .hosting-types {
	margin:80px 0 20px 0;
	background:rgba(255,255,255,0.8);
}
.hosting-types .col-sm-4{
	position:relative;
	padding:30px;
	text-align:center;
	border-right:1px solid rgba(0,0,0,0.07)
}
.hosting-types .col-sm-4 a{
	position:absolute;
	top:0;
	left:0;
	width:0;
	padding-left:117%;
	height:100%;
	overflow:hidden;
}
.hosting-types .col-sm-4.featured{
	background:rgba(255,255,255,0.4)
}
.hosting-types .col-sm-4:last-child{
	border-right:none
}
.hosting-types .col-sm-4:after{
	content:"";
	display:block;
	position: absolute;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid rgba(0,0,0,0.1);
	font-size: 0px;
	line-height: 0;
	bottom:-20px;
	left:50%;
	margin-left:-15px;
}
#hostingtypeshold .hosting-types .col-sm-4:after{
	border-top: 20px solid rgba(255,255,255,0.8);
}
.hosting-types .col-sm-4.featured:after{
	border-top: 20px solid rgba(0,0,0,0.06);
}
#hostingtypeshold .hosting-types .col-sm-4.featured:after{
	border-top: 20px solid rgba(255,255,255,0.9);
}
.hosting-types .col-sm-4 .price{
	display:block;
	position:absolute;
	top:-32px;
	left:50%;
	margin-left:-32px;
	border-radius:200px;
	background:#999;
	font-size:24px;
	font-weight:bold;
	color:#fff;
	padding:15px 0;
	width:64px;
	height:64px;
	box-sizing:border-box;
	text-align:center;
}
.hosting-types .col-sm-4.blue .price{
	background:rgba(76,133,212,1);
}
.hosting-types .col-sm-4.red .price{
	background:#ab3b42;
}
.hosting-types .col-sm-4.purple .price{
	background:#5a4473;
}
.hosting-types .col-sm-4.green .price{
	background:#3c9983;
}
.hosting-types .col-sm-4:not(.featured) .price{
	background:#999 !important;
}
#darkerfooter p{
	margin:0;
	padding:0;
}
#darkerfooter{

background: #18191b;
border-bottom: 1px solid rgba(255,255,255,0.1);
color: rgba(255,255,255,0.8);
padding:15px 0;
z-index:999;
position:relative;
box-shadow:0 0 5px 5px rgba(0,0,0, 0.1);
}
 #domainbar .col-md-6:last-child {
	 color: rgba(255,255,255,0.8);
 }
#darkerfooter a,  #domainbar .col-md-6:last-child  a{
	color:#fff;
}
.darkarrow{
	display:block;
	background:url(images/slanted/arrow.png) top repeat-x;
	height:60px;
	width:100%;
	position:absolute;
	top:-1px;
	left:0;
	z-index:9999;
}
/* Clouds Separator */
#cloudstop, #cloudsbottom{
	position:absolute;
	bottom:-5px;
	left:0;
	pointer-events: none;
	z-index:99;
}
#cloudstop path,#cloudsbottom path {
	fill: #fff;
	stroke: #fff;
}
#cloudsbottom{
	position:absolute;
	bottom:-90px;
	left:0;
	ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
/* Help Box */
.help-box{
	margin:0px 0 30px 0;
	padding:30px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:rgba(0,0,0,0.1);
}
.help-box .btn-lg{
	margin:0 30px !important;
}
.help-box h2{
	margin:0;
}
/* Triangle Separator */
.wrapper::before,
.wrapper::after {
	position: absolute;
	content: '';
	pointer-events: none;
}
.ss-style-triangles::after {
	left: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}
.ss-style-triangles::after {
	bottom: -15px;
	z-index: 10;
	background: inherit;
}